<p-dialog
	modal="true"
	[(visible)]="visible"
	(visibleChange)="visibleChange.emit($event)"
	[header]="isNew ? 'Add New Log' : 'Edit Log'"
	[style]="{width: '350px'}">

	@if (log != null) {
		<div class="flex flex-col gap-4" style="height: 300px">
			
			<mrt-duties-autocomplete
				[(selectedDutyId)]="log.dutyId" />

			<mrt-jobs-autocomplete
				[(selectedJobId)]="log.playedJobId" />
			
			<p-floatLabel variant="in" class="w-full">
				<textarea
					[(ngModel)]="log.notes"
					id="notes"
					class="w-full"
					pTextarea></textarea>
				<label for="notes">Notes</label>
			</p-floatLabel>

			<div class="flex items-center">
				<p-checkbox
					inputId="logCompleted"
					name="completed"
					[(ngModel)]="log.completed"
					binary="true" />
				<label for="logCompleted" class="ml-2"> Completed </label>
			</div>

		</div>

		<div class="mt-4 flex justify-end gap-4">
			<button
				pButton
				label="Cancel"
				icon="pi pi-times"
				size="small"
				class="p-button-secondary"
				(click)="visibleChange.emit(false); visible = false"></button>
			
			<button
				pButton
				label="Save"
				icon="pi pi-check"
				size="small"
				[class.p-button-loading]="isLoading"
				(click)="onSave()"></button>
		</div>
	}
</p-dialog>
