<div class="flex flex-row gap-4 items-center mb-4">
	<h1 class="mr-auto text-2xl font-bold">Roulettes</h1>

	<!-- Page Actions -->
	<mrt-search-bar
		[(ngModel)]="searchQuery"
		placeholder="Search Logs..." />

	<button
		pButton
		label="Log New Roulette"
		icon="pi pi-plus"
		class="p-button-success"
		(click)="openCreateModal()"></button>
</div>

<p-table
	[columns]="cols"
	[value]="logs()"
	[loading]="isLoading()"
	showGridlines="true"
	stripedRows="true">

	<ng-template #header let-columns>
		<tr>
			@for (col of columns; track col) {
				<th [pSortableColumn]="col.field">
					<span class="mr-2">{{ col.header }}</span>
					<p-sortIcon [field]="col.field"></p-sortIcon>
				</th>
			}

			<!-- Actions -->
			<th></th>
		</tr>
	</ng-template>
	<ng-template #body let-rowData let-columns="columns">
		<tr>
			@for (col of columns; track col) {
				<td>{{ getNestedProperty(rowData, col.field) }}</td>
			}

			<!-- Actions -->
			<td class="flex gap-2">
				<button
					pButton
					icon="pi pi-pencil"
					class="p-button-rounded p-button-info p-button-sm"
					(click)="openEditModal(rowData)"></button>
				<button
					pButton
					icon="pi pi-trash"
					class="p-button-rounded p-button-danger p-button-sm"
					(click)="openDeleteConfirmModal(rowData.logId)"></button>
			</td>
		</tr>
	</ng-template>
</p-table>

<mrt-edit-mentor-log-modal
	[(visible)]="showEditModal"
	[log]="selectedLog()"
	[isNew]="isNewLog()"
	(save)="onLogSaved($event)"/>

<!-- Confirm Delete Modal -->
<mrt-confirm-modal
	[(visible)]="showDeleteConfirmModal"
	(confirm)="deleteLog(toDeleteId())" />
